/1-Demo/Demo_IDF/examples/esp_brookesia_phone/build
/1-Demo/Demo_IDF/examples/usb_extend_screen/build
/1-Demo/Demo_IDF/examples/esp_brookesia_phone/managed_components
/1-Demo/Demo_IDF/examples/usb_extend_screen/managed_components
